github-copilot/
nvimbackup/
configstore/
.DS_Store
Github/
gtk-2.0/
gh/
ghc/
automatic_backups/
conf/.config/lazygit/state.yml
.bin/.config/zed
.env
.spotify_tokens.json

yarn
crossnote

.wrangler

conf/.config/raycast/extensions
conf/.config/shareedit

conf/.config/colima
conf/.config/git/attributes
conf/.config/git/config
conf/.config/git/ignore
conf/.config/mise/config.toml
conf/.config/tmux/tmux.conf
