github-copilot/
nvimbackup/
configstore/
.DS_Store
Github/
gtk-2.0/
gh/
ghc/
automatic_backups/
conf/.config/lazygit/state.yml
.bin/.config/zed
.bin/.config/raycast/
.env
.spotify_tokens.json

yarn
crossnote

.wrangler


