[ghq]
	root = ~/src
[user]
	email = tatu2425@gmail.com
	name = happy663
[alias]
	ac = !git add -A && aicommits -a
[http]
	postBuffer = 524288000
[pull]
  rebase = false
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
    side-by-side = true

[interactive]
  diffFilter = delta --color-only 

[filter "clean_ipynb"]
  clean = jq --indent 1 --monochrome-output '. + if .metadata.git.suppress_outputs | not then { cells: [.cells[] | . + if .cell_type == \"code\" then { outputs: [], 　execution_count: null } else {} end ] } else {} end'
  smudge = cat
[core]
	editor = nvim
	excludesfile = ~/.gitignore
